<div class="container">
  <div class="row">
    <h5 class="mx-auto font-weight-bold">出品内容編集</h5>
  </div>  
  
  <div class="row">
    <%= render 'form', product: @product, :edit => true %>
  </div>
</div>
