<% form_with model: [product, comment], local: false do |f| %>
  <div class="form-group">
    <%= f.text_area :comment, rows: '3', placeholder:"コメントをここに", class: 'form-control book_body' %>
    <%= f.submit "送信する", class:"mt-1" %>
  </div>
  <% end %>
      
  </div>