<div class="row">
  <div class="col-8 mx-auto border-success py-3 mt-5 text-center" style="background-color:#E9FDF3;">
    <h3>RescUseとは？</h3>
    <div>
      　手配開始後に不要となってしまった備品や資源の譲り先を探すことに、<br>
      役立てていただくアプリケーションです。<br><br>
      　納入前に不要となった未開封品、<br>使用後に不要となった開封済み品それぞれ
      を分けて管理可能です。<br><br>
      　コメントを通じて出品者と引き取り者で調整を行ってください。<br>
      　マイページでは部門ごとの、出品件数と引き取り件数を一覧でグラフ表示しています。<br>
      　社内の無駄削減にもお役立ていただけます。<br>
      <%= link_to "利用登録", new_user_registration_path %>
    </div>
  </div>
</div>