<h1>社員一覧</h1>
<% @users.each do |user| %>
  <tr >
    <td><%= link_to user.name,admin_user_path(user) %></td>
    <td><%= user.employee_number %></td>
    <td><%= user.department.name %></td>
    <td><%= link_to '編集',edit_admin_user_path(user) %></td>
  </tr>
<% end %>