<% if product.favorited_by?(current_user) %>
  <%= link_to product_favorites_path(product), method: :delete, remote: true do %><span class="text-warning text-opacity-50">★</span><% end %>
  <%= product.favorites.count %>
<% else %>
  <%= link_to product_favorites_path(product), method: :post, remote: true do %><span class="text-warning text-opacity-50">☆</span><% end %>
  <%= product.favorites.count %>
<% end %>
