
.logo_svg {
  width: 200px ;
  height: 50px ;
}

.header,.footer {
  background-color: #E9FDF3;
}

.navbar-btn {
  color: #008b8b;
  display: block;
  width: 115px;
}

// .navbar-nav li:hover {
//   color: #b04188;

// }

// li {
//   list-style: none;
// }

// .navbar-nav {
//   display: flex;
// }

// .navbar-btn:hover {
//   background-color: #ebebeb;
//   color: #666;
// }

// .drop-menu {
//   position: absolute;
//   padding-left: 0px;
//   top: 50px;
//   transition: all .5s;
//   width: 115px;
// }

// .drop-menu-link {
//   display: none;
//   background-color: #ebebeb;
//   transition: all .3s;
//   padding: 5px 20px;
// }

// .drop-menu-link:hover {
//   background-color: lightcyan;
// }

// .drop-menu-link.is-active {
//   display: block;
// }

-------------------------------

#nav {
    margin: 0;
    padding: 0;
    display: flex;
}
#nav li {
    list-style: none;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 2.8;

}
#nav li a {
    text-decoration: none;
}

.drop-menu {
    display: none;
    margin-left: -40px;
    position: absolute;
    z-index: 1;
    
}
.drop-menu li {
  background-color: #1D1D1D;
  opacity: 0.8;

}

.drop-menu-link {
  color: #fff;
  opacity: 1;
}
