<table class="table table-borderless">
  <tr>
    <th>名前：</th>
  </tr>
  <tr>
    <td><%= @name %></td>
  </tr>
  <tr>
    <th>連絡先：</th>
  </tr>
  <tr>
    <td><%= @ncontact %></td>
  </tr>
  <tr>
    <th>内容：</th>
  </tr>
  <tr>
    <td><%= @body %></td>
  </tr>
</table>