<table class="table table-sm">
  <thead>
    <tr>
      <th>社員番号</th>
      <th>名前</th>
      <th>所属部門</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.employee_number %></td>
        <td><%= link_to user.name,admin_user_path(user) %></td>
        <td><%= user.department.name %></td>
        <td><%= user.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
