  <div class="row justify-content-center mx-auto">
    <div class="col-6 notification_box">
      <h5 class="text-center"><i class="fas fa-bell"></i>新着通知</h5>
      <p class="text-right"><%= link_to destroy_all_notifications_path, method: :delete,class:"btn" do %>全削除<i class="fas fa-trash"></i><% end %></p>
      <% if @notifications.exists? %>
        <div id="notification" ><%= render 'notification', notifications: @notifications %></div>
      <% else %>
      <p class="text-center">通知はありません</p>
      <% end %>
    </div>
  </div>