<footer class="fixed-bottom mx-auto">
  <div class='container mt-3'>
  	<div class='row'>
    	<div class='mx-auto'>
        <%= link_to "管理者ログイン", new_admin_session_path %>
        <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
    	</div>
    </div>
    <div class='row'>
    	<div class='mx-auto'>
    	<!-- Rakuten Web Services Attribution Snippet FROM HERE -->
    	<a href="https://webservice.rakuten.co.jp/" target="_blank"><img src="https://webservice.rakuten.co.jp/img/credit/200709/credit_22121.gif" border="0" alt="Rakuten Web Service Center" title="Rakuten Web Service Center" width="221" height="21"/></a>
      <!-- Rakuten Web Services Attribution Snippet TO HERE -->
      </div>
    </div>
  </div>
</footer>