<footer class="fixed-bottom mx-auto footer">
  <div class='container mt-3'>
  	<div class='row'>
    	<div class='mx-auto'>

    	</div>
    </div>
    <div class='row banner-container'>
    	<div class='mx-auto'>
    	  <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
        <a href="https://developers.rakuten.com/" target="_blank">Supported by Rakuten Developers</a>
        <!-- Rakuten Web Services Attribution Snippet TO HERE -->
      </div>
    </div>
  </div>
</footer>